body {
    width: 856px;
    margin: 0 auto;

    color: #444;
    font-size: 18px;
}

body,
input,
textarea {
    /* Font found on dafont.com: http://www.dafont.com/fr/foglihten.font */
    font-family: Foglihten, Courier New, serif;
}

.clearer {
    clear: both;
}

body > footer {
    top: 0;
    left: 0;
    right: 0;
    padding-right: 20px;
    height: 52px;
    position: absolute;
    background: #efefef;
}

body > footer ul {
    list-style: none;
    margin-top: 10px;
    text-align: right;
}

body > footer li {
    display: inline-block;
    padding: 0 10px;
    line-height: 32px;
    vertical-align: middle;
}

body > footer li a {
    display: block;
    width: 32px;
    height: 32px;
}

body > footer li a.twitter {
    background: url('../img/twitter-icon.png') no-repeat center;
}

body > footer li a.github {
    background: url('../img/github-icon.png') no-repeat center;
}

body > footer li .twitter {
    display: block;
}

body > header {
    margin-top: 102px;
    text-align: center;
    line-height: 35px;
}

body > header h1 {
    font-size: 2em;
}

body > header h1 em {
    font-style: normal;
}

body.blue > header h1 em {
    color: blue;
}

body.green > header h1 em {
    color: green;
}

body.pink > header h1 em {
    color: pink;
}

body.purple > header h1 em {
    color: purple;
}

body.red > header h1 em {
    color: red;
}

body > header h2 {
    font-weight: normal;
    font-size: 1em;
    font-style: italic;
}

body > .posts {
    margin-top: 50px;
}

body > .posts article {
    margin-bottom: 80px;
}

body > .posts article > header figcaption {
    position: relative;
    margin: 25px 0 20px;
    padding: 8px 0 8px 25px;
    border-left: 5px solid #efefef;
}

body > .posts article > header h1 {
    font-size: 1.2em;
    text-transform: uppercase;
}

body > .posts article > header p {
    line-height: 1.5em;
    font-style: italic;
    font-size: 0.9em;
}

body > .posts article > header p.comments {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -0.8em;
    font-style: normal;
    line-height: 1.6em;
    color: #bbb;
}

body > .posts article > header p.comments a:hover {
    color: #444;
    text-decoration: underline;
}

body > .posts article > header p.comments span {
    font-size: 2em;
}

body > .posts article .content p {
    margin-bottom: 20px;
    line-height: 1.3em;
    text-align: justify;
}

body > .posts article .content p:first-child {
    text-indent: 30px;
}

body > .posts article .content a {
    color: #4680d3;
    font-weight: bold;
    text-decoration: underline;
}

body > .posts article .content a:hover {
    text-decoration: none;
}

body > .posts .pagination .wrap span {
    display: block;
    text-align: center;
}

body > .posts .pagination .wrap span a {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 5px solid #fafafa;
}

body > .posts .pagination .wrap span a:hover {
    border-top-color: #efefef;
}

body > .posts .pagination .wrap span.left {
    float: left;
}

body > .posts .pagination .wrap span.right {
    float: right;
}

body > .comments {
    margin-top: -40px;
    margin-bottom: 80px;
    padding-top: 40px;
    border-top: 3px dotted #efefef;
}

body > .comments .no-comments {
    font-style: italic;
}

body > .comments article {
    margin-bottom: 20px;
    padding: 15px;
    background: #f9f9f9;
}

body > .comments article figure {
    float: left;
    width: 80px;
    height: 80px;
    background: #fff;
    border: 1px solid #ccc;
}

body > .comments article header {
    line-height: 30px;
    margin-bottom: 10px;
}

body > .comments article header time {
    float: right;
    font-style: italic;
}

body > .comments article header,
body > .comments article .content {
    margin-left: 100px;
    word-wrap: break-word;
}

body > .comments form {
    padding-top: 20px;
}

body > .comments .notifications p {
    padding: 10px;
}

body > .comments .notifications p.success {
    background: darkseagreen;
    color: #fff;
}

body > .comments form p {
    margin-bottom: 18px;
}

body > .comments form p > * {
    display: inline-block;
    line-height: 30px;
}

body > .comments form p label {
    width: 180px;
}

body > .comments form p input,
body > .comments form p textarea {
    vertical-align: middle;
    resize: none;
}

body > .comments form p input {
    width: 300px;
    padding-left: 15px;
}

body > .comments form p textarea {
    width: 826px;
    padding: 15px;
}